body{
font-family: 'Petit Script';
background:#f6f8dc;
text-align:center;
}

.container{
width:80%;
margin:auto;
background:rgb(121, 139, 91);
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
line-height: normal;
}

textarea{
width:90%;
height:150px;
margin:10px;
padding:10px;
}
z
input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
margin:5px;
background:#e7c669;
color:rgb(67, 73, 55);
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#d89a67;
}

#hasil{
background:#ffffff;
padding:15px;
margin-top:10px;
}
